<h1><%= encabezado %> </h1>
<img src="//c1.staticflickr.com/1/553/19294149815_e76f29b9e9_s.jpg" width="61" height="61"/>
<br><p><b>Nombre del Autor: </b>Patricia Zavaleta</p>
<p><b>País: </b>México</p>


